<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.ab.Login1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>  
            
         <activity
            android:name="com.example.ab.Logon2"
            android:label="Logon2" > 
       </activity>  
               
     <activity
            android:name="com.example.ab.SignIn3"
            android:label="SignIn3" > 
       </activity>  
               
      <activity
            android:name="com.example.ab.AskOff4"
            android:label="AskOff4" > 
       </activity> 
    
    </application>

</manifest>
